
<div class="row">
    <div class="col s12">
        <div class="card hoverable post-card {{post_class}}">
            <div class="card-image">
                {{#if feature_image}}
                    <img class="z-depth-1 aspect-ration" src="{{img_url feature_image size="m"}}" />
                {{else}}
                    <img class="z-depth-1 aspect-ration" src="{{asset "images/cover-home.jpg"}}" />
                {{/if}}
                <span class="card-title"><h4 class="flow-text">{{title}}</h4></span>
            </div>
            <div class="card-content flow-text text-justify">
                <p>{{excerpt words="30"}}</p>
            </div>
            <div class="card-action">
                <a href="{{url}}">Goto Post</a>
                <span class="right reading-time">{{reading_time}}</span>
            </div>
        </div>
    </div>
</div>