<li class="collection-item avatar">
    <img src="{{#if feature_image}}{{img_url feature_image size="t"}}{{else}}{{asset "images/cover-home.jpg"}}{{/if}}" alt="" class="circle">
    <a href="{{url}}">
        <span class="toc-title flow-text">{{title}}</span>
    </a>
    <p class="excerpt">{{excerpt}}</p>
</li>