<!DOCTYPE html>
<html lang="en">

{{> head}}

<body class="{{body_class}}" id="body">

  {{! Everything else gets inserted here }}
  {{{body}}}

  {{! Ideally, this is the global footer. }}
  {{> footer}}

  {{! Ghost outputs important scripts with this, including the the content for the code injection panel.  }}
  {{ghost_foot}}

  <script src="{{asset "scripts/ghost-theme-ianteda2019.min.js"}}"></script>
  {{#if pagination.pages}}
    <script>
      // maxPages is a global variable that is needed to determine
      // if we need to load more pages for the infinitescroll, or if
      // we reached the last page already.
      // Delete this <script> if you don't want infinite scrolling and set the amount of posts you want to load in the package.json file.
      // This script is from Ghost's default theme, Casper.
      var maxPages = parseInt('{{pagination.pages}}');
    </script>
    <script src="{{asset "infinitescroll.js"}}"></script>
  {{/if}}

</body>

</html>